@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
  scroll-behavior: smooth;
  
}

.app{
    margin: auto;
    width: 80%;
}

a{
    text-decoration: none;
}
body{
    overflow-x:hidden
}